<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="task_views.css">
</head>
<body>
    <main>
        <div class="task">
            <div class="task-details">
                <div class="task-details_info">
                    <h2>realizar el desarrolo de la fase 1</h2>
                    <p>Autor: Admin 1</p>
                </div>
                <div class="description-box">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                        id justo vel lacus vulputate finibus. Integer vitae turpis eu
                        nulla tristique efficitur. Sed auctor, justo vel consequat
                        semper, nunc eros volutpat est, id euismod elit nisl nec quam.
                    </p>
                </div>
                <button>Comentar Tarea</button>
            </div>
        </div>


        <div class="task">
            <div class="task-details">
                <div class="task-details_info">
                    <h2>hacer tablas para la base de datos</h2>
                    <p>Autor: Angel26</p>
                </div>
                <div class="description-box">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                        id justo vel lacus vulputate finibus. Integer vitae turpis eu
                        nulla tristique efficitur. Sed auctor, justo vel consequat
                        semper, nunc eros volutpat est, id euismod elit nisl nec quam.
                    </p>
                </div>
                <button>Comentar Tarea</button>
            </div>
        </div>


        <div class="task">
            <div class="task-details">
                <div class="task-details_info">
                    <h2>hacer el logo de la pagina 2</h2>
                    <p>Autor: MariaBecerra2</p>
                </div>
                <div class="description-box">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                        id justo vel lacus vulputate finibus. Integer vitae turpis eu
                        nulla tristique efficitur. Sed auctor, justo vel consequat
                        semper, nunc eros volutpat est, id euismod elit nisl nec quam.
                    </p>
                </div>
                <button>Comentar Tarea</button>
            </div>
        </div>

      
    </main>
</body>
</html>